<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>P.A.L.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5CDA96CD1F03F0910039A47D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CDA96E11F03F0920039A47D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CDA96EC1F03F0920039A47D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
